@mixin widget {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 18px 24px;
  border: var(--border);
  border-radius: var(--border-radius);
  width: auto;

  @media (max-width: 768px) {
    padding: 12px 18px;
  }
}
