.chat-widget {
  display: flex;
  max-width: 500px;
  width: 90%;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  overflow: hidden;
  height: 100vh;
  padding: 24px;
  justify-self: center;
}
.desktop-header {
  align-self: flex-start;
  margin-left: 32px;
}
.chat-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  width: 100%;
  overflow: scroll;
  background: #fff;
  border: var(--border);
  height: 100%;
  align-items: baseline;
  padding: 12px 12px;

  //padding: 24px 12px;
  border-radius: 12px;
}
.loader {
  align-self: flex-start;
  padding: 32px 24px;
}
.chatwidget-header {
  background-color: #fff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  padding: 0 16px;
  z-index: 20;
}

.r {
  color: var(--color-dark-red);
}

@media (max-width: 1000px) {
  .chat-widget {
    padding: 12px;
  }
}
