.chat-widget {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.chat-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  width: 100%;
  margin: 8px 0;
  height: 410px;
  overflow: scroll;

  //padding: 24px 12px;
  border-radius: 12px;
}
.chatwidget-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  padding: 0 10px;
}
@media (min-width: 760px) {
  .chat-row {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.295);
    background: var(--color-second-bg);
    gap: 18px;
  }
}
.r {
  color: var(--color-dark-red);
}
