.prompt-bar {
  position: sticky;
  display: flex;
  border: var(--border);
  border-radius: 12px;
  padding: 8px;
  width: 100%;
  margin-top: auto;
  background: var(--color-second-bg);
  &__input {
    font-size: 14px;
    color: var(--color-black);
    background: none;
    &::placeholder {
      color: #889dbc;
    }
    height: fit-content;
  }
}
.submit-button {
  background-color: transparent;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  &__disabled {
    opacity: 0.3;
  }
}
