@use '@/app/styles/mixins.scss' as mix;

.cashflow-treemap {
  @include mix.widget;
  height: 100%;
  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__body {
    width: auto;
    height: 100%;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
  }
}
