.ScenarioPage {
  display: flex;
  gap: 32px;

  .chat-widget {
    position: fixed;
    border: var(--border);
    background-color: #fff;

    .chat-row {
      background-color: var(--color-second-bg);
    }

    .prompt-bar {
      background-color: var(--color-second-bg);
    }
  }

  --left-col: 280px;
  &__wrapper {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    width: 100%;
    margin-top: 32px;
    gap: 32px;
    margin-left: 532px;
    margin-bottom: 32px;
    min-width: 0;

    .local-loader {
      margin: auto;
      min-height: 275px;
      align-items: center !important;
    }
  }

  &__widgets {
    display: grid;
    grid-template-columns: var(--left-col) minmax(0, 1fr);
    grid-template-rows: auto auto;
    grid-template-areas:
      'stats  ebitda'
      'profit profit';
    gap: 32px;
    min-width: 0;
    > * {
      min-width: 0;
    }

    .kpi-stats {
      grid-area: stats;
      height: 100%;
    }
    .ebitdaMargin {
      grid-area: ebitda;
    }
    .netProfit {
      grid-area: profit;
      width: 100%;
      max-width: none;
    }
  }
}

@media (max-width: 1000px) {
  .ScenarioPage__wrapper {
    margin-left: 0;
  }

  .ScenarioPage__widgets {
    grid-template-columns: 1fr;
    grid-template-areas:
      'stats'
      'ebitda'
      'profit';
  }

  .ScenarioPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 16px 24px 16px;

    --left-col: unset;
  }
}
