.kpi-card {
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: space-between;

  &--bordered {
    border: var(--border);
  }
}

.kpi-card__top {
  display: flex;
  align-items: start;
  gap: 4px;
  justify-content: space-between;
  @media (max-width: 768px) {
    flex-direction: row;
    align-items: start;
  }
}

.kpi-card__value {
  &--green {
    color: var(--color-dark-green);
  }
  &--blue {
    color: var(--color-dark-blue);
  }
  &--red {
    color: var(--color-dark-red);
  }
}
